bin/
/src/debugger/raw/obj/Debug
/src/.vs/mdbg/v15/Server/sqlite3
/src/debugger/corapi/obj/Debug
/src/debugger/mdbg/obj/Debug/mdbg.csproj.CoreCompileInputs.cache
/src/debugger/mdbg/obj/Debug/mdbg.csproj.CopyComplete
/src/debugger/mdbgeng/obj/Debug
/src/debugger/mdbgext/obj/Debug
/src/debugger/NativeDebugWrappers/obj/Debug
/src/extensions/enc/obj/Debug
/src/extensions/gui/obj/Debug
/src/extensions/ildasm/obj/Debug
/src/InvariantDetector/obj/Debug
/src/Logging/obj/Debug
/src/mdbgTypes/obj/Debug
/src/PhiDebugging/obj/Debug
/src/tools/pdb2xml/obj/Debug
/src/ValueCompiler/obj/Debug
